header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img{
    height: 8rem;
}
a{
    margin: 1rem;
}
.cart{
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 10px;
}

